.App {
  text-align: center;
}

.back {
  /* height: 300px; */
  height: 660px;
  background-color: gray; /* For browsers that do not support gradients */
  background-image: linear-gradient(black, #717e8e);
}

.cbg {
  background-color: #012f2fe0;
  color: whitesmoke;
}

.navbg {
  background-color: rgb(14, 107, 119);
  color: white;
  border-radius: 20px;
  padding: 2px 10px;
}
